<div *ngIf="user == '1'|| user == '2' || user == '3'|| user=='4'">
  <app-unidad-academica></app-unidad-academica>
</div>
<div class="cont">
  <nav>
    <button class="boton btn" (click)="recomendacion()">Recomendaciones</button
    ><button class="boton btn" (click)="fichasTecnicas()">
      Fichas tecnicas
    </button>
    <button class="boton btn" (click)="cruds()" *ngIf="user == '1'">Administrador</button>
  </nav>
  <!-- <app-ficha-1></app-ficha-1> -->
  <app-ficha-2></app-ficha-2>
  <!-- <app-ficha-3></app-ficha-3>
  <app-ficha-4></app-ficha-4>
  <app-ficha-5></app-ficha-5> -->
</div>

