<div class="flex">
  <h5 class="sub-tittle">zonas:</h5>
  <img
    class="butt"
    src="../../assets/mas.png"
    alt="+"
    (click)="agregarRecomendacion()"
  />
</div>
<div class="table-space">
  <div class="tabla">
    <div class="Acciones cabecera">Id</div>
    <div class="Fecha_limite cabecera">Zonas</div>
    <ng-container *ngIf="nueva">
      <div class="campo flex Acciones new">
        <img
          src="../../assets/guardar.png"
          alt="guardar"
          class=""
          (click)="nuevaRecomendacion()"
        />
      </div>
      <div class="campo Fecha_limite new">
        <input type="text" [(ngModel)]="zona" />
      </div>
    </ng-container>
    <ng-container *ngFor="let zona of zonas" class="campos">
      <div class="campo flex Acciones" [attr.data-index]="zona.id_zona">
        <textarea
          class="txtArea"
          [(ngModel)]="zona.id_zona"
          name="zona"
          id="accion"
        ></textarea>
        <img
          src="../../assets/guardar.png"
          alt="guardar"
          class="disk"
          (click)="actualizarRecomendacion(zona)"
          [attr.data-index]="zona.id_zona"
        />

        <img
          class="pen"
          src="../../assets/lapiz.png"
          alt="editar"
          (click)="editarRecomendacion(zona.id_zona)"
        />
        <img
          class="eraser"
          src="../../assets/borrar.png"
          alt="borrar"
          (click)="verificarBorradoRecomendacion(zona.id_zona)"
        />
      </div>
      <div class="campo Fecha" [attr.data-index]="zona.id_zona">
        <input
          type="text"
          [(ngModel)]="zona.nombre"
          class="txtArea"
          [attr.data-index]="zona.id_zona"
        />
      </div>
    </ng-container>
  </div>
</div>
<div class="modal static bump-down" *ngIf="alert">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="alert alert-danger" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <cds-icon
                class="alert-icon"
                shape="exclamation-circle"
              ></cds-icon>
            </div>
            <span class="alert-text">
              Alerta la zona seleccionada se borrara permanentemente.
            </span>
          </div>
        </div>
      </div>
      <div class="modal-header">
        <h3 class="modal-title">Esta seguro de borrar la zona?</h3>
      </div>
      <div class="modal-body">
        <p>La Zona se borrara</p>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-outline"
          type="button"
          (click)="cancelarBorrado()"
        >
          Cancelar
        </button>
        <button
          class="btn btn-primary"
          type="button"
          (click)="aceptarBorrado()"
        >
          borrar
        </button>
      </div>
    </div>
  </div>
</div>
