<div class="flex">
  <nav>
    <a href="https://www.facebook.com/UASoficial/" target="_blank">
      <img class="icon" src="../../../assets/f-icon.png" alt="" />
    </a>
    <a href="https://www.instagram.com/uasoficial/" target="_blank">
      <img src="../../../assets/i-icon.png" alt="" class="icon" />
    </a>
    <a href="https://proyedufim.net/control.calidad.apk" target="_blank" >
      <img src="../../../assets/telefono.png" alt="" class="icon tel" />
    </a>
    <a href="https://www.youtube.com/@UASoficial" target="_blank">
      <img src="../../../assets/you-icon.png" alt="" class="icon" />
    </a>
    <a>
      <img src="../../../assets/question-sign.png" alt="" class="icon tel" (click)="help()">
    </a>
  </nav>
</div>

