<div class="grid">
    <div class="head height concepto">concepto</div>
    <div class="head height tCompleto">Tiempo Completo</div>
    <div class="head height tCTiempo">Tres cuartos de tiempo</div>
    <div class="head height mTiempo">Medio tiempo</div>
    <div class="head height asignatura">De asignatura</div>
    <div class="head height total">Total</div>
    <div class="head grado">Grado de estudios</div>
    <div class="he tsu">TSU</div>
    <div class="he pa">PA</div>
    <div class="he l">L</div>
    <div class="he e">E</div>
    <div class="he m">M</div>
    <div class="he d">D</div>
    <div class="head height totalf">Total</div>
    <div class="bod concepto">Numero</div>
    <div class="bod tCompleto">
        <input class="lf5" type="number" [(ngModel)]="ficha[0].tiempo_completo">
    </div>
    <div class="bod tCTiempo">
        <input class="lf5" type="number" [(ngModel)]="ficha[0].tres_cuartos">
    </div>
    <div class="bod mTiempo">
        <input class="lf5" type="number" [(ngModel)]="ficha[0].medio_tiempo">
    </div>
    <div class="bod asignatura">
        <input class="lf5" type="number" [(ngModel)]="ficha[0].asignatura">
    </div>
    <div class="bod total">
        <input class="lf5" type="number"  [(ngModel)]="ficha[0].total_1" >
    </div>
    <div class="bod tsu">
        <input class="lf5" type="number" [(ngModel)]="ficha[0].tsu">
    </div>
    <div class="bod pa">
        <input class="lf5" type="number" [(ngModel)]="ficha[0].pa">
    </div>
    <div class="bod l">
        <input class="lf5" type="number" [(ngModel)]="ficha[0].l">
    </div>
    <div class="bod e">
        <input class="lf5" type="number" [(ngModel)]="ficha[0].e">
    </div>
    <div class="bod m">
        <input class="lf5" type="number" [(ngModel)]="ficha[0].m">
    </div>
    <div class="bod d">
        <input class="lf5" type="number" [(ngModel)]="ficha[0].d">
    </div>
    <div class="bod totalf">
        <input class="lf5" type="number" [(ngModel)]="ficha[0].total_2">
    </div>
    <div class="bod concepto">porcentaje</div>
    <div class="bod tCompleto">
        <input class="por" type="number" [(ngModel)]="ficha[0].tiempo_completo_por" [min]="1" [max]="100">
    </div>
    <div class="bod tCTiempo">
        <input class="por" type="number" [(ngModel)]="ficha[0].tres_cuartos_por" [min]="1" [max]="100">
    </div>
    <div class="bod mTiempo">
        <input class="por" type="number" [(ngModel)]="ficha[0].medio_tiempo_por" [min]="1" [max]="100">
    </div>
    <div class="bod asignatura">
        <input class="por" type="number" [(ngModel)]="ficha[0].asignatura_por" [min]="1" [max]="100">
    </div>
    <div class="bod total">
        100%
    </div>
    <div class="bod tsu">
        <input class="por" type="number" [(ngModel)]="ficha[0].tsU_por" [min]="1" [max]="100">
    </div>
    <div class="bod pa">
        <input class="por" type="number" [(ngModel)]="ficha[0].pA_por" [min]="1" [max]="100">
    </div>
    <div class="bod l">
        <input class="por" type="number" [(ngModel)]="ficha[0].l_por" [min]="1" [max]="100">
    </div>
    <div class="bod e">
        <input class="por" type="number" [(ngModel)]="ficha[0].e_por" [min]="1" [max]="100">
    </div>
    <div class="bod m">
        <input class="por" type="number" [(ngModel)]="ficha[0].m_por" [min]="1" [max]="100">
    </div>
    <div class="bod d">
        <input class="por" type="number" [(ngModel)]="ficha[0].d_por" [min]="1" [max]="100">
    </div>
    <div class="bod totalf">
        100%
        <img
          class="pen"
          src="../../assets/lapiz.png"
          alt="editar"
          (click)="editar()"
        />
        <img
            src="../../assets/guardar.png"
            alt="guardar"
            class="disk5"
            (click)="editarficha()"
          />
    </div>


</div>