<div class="grid">
    <div class="head gene">Generacion</div>
    <div class="head num">No. de estudiantes que ingresaron</div>
    <div class="head des">Desercion</div>
    <div class="head iDes">Indice de Desercion</div>
    <div class="head rep">Reprobacion</div>
    <div class="head iRep">Indice de reprobacion</div>
    <div class="head egre">Egresados</div>
    <div class="head IET">Indice de Eficiencia Terminal</div>
    <div class="head titu">Titulados</div>
    <div class="head iTitu">Indice de titulacion</div>
    <div class="head ITN">Indice de titulacion Neto</div>

    <div class="gene bod">Ultima <img
        class="pen"
        src="../../assets/lapiz.png"
        alt="editar"
        (click)="editar()"
      />
      <img
          src="../../assets/guardar.png"
          alt="guardar"
          class="disk7"
          (click)="editarficha()"
        /></div>
    <div class="bod num">
        <input class="lf7" type="number" [(ngModel)]="ficha[0].ultima_estudiantes_ingresados">
    </div>
    <div class="bod des">
        <input class="lf7" type="number" [(ngModel)]="ficha[0].ultima_decersion">
    </div>
    <div class="bod iDes">
        <input class="por" type="number" [(ngModel)]="ficha[0].ultima_indice_reprobacion">
    </div>
    <div class="bod rep">
        <input class="lf7" type="number" [(ngModel)]="ficha[0].ultima_reprobacion">
    </div>
    <div class="bod iRep">
        <input class="por" type="number" [(ngModel)]="ficha[0].ultima_indice_reprobacion">
    </div>
    <div class="bod egre">
        <input class="por" type="number" [(ngModel)]="ficha[0].ultima_egresados">
    </div>
    <div class="bod IET">
        <input class="por" type="number" [(ngModel)]="ficha[0].ultima_indice_eficiencia">
    </div>
    <div class="bod titu">
        <input class="lf7" type="number" [(ngModel)]="ficha[0].ultima_titulados">
    </div>
    <div class="bod iTitu">
        <input class="por" type="number" [(ngModel)]="ficha[0].ultima_indice_titulacion">
    </div>
    <div class="bod ITN">
        <input class="por" type="number" [(ngModel)]="ficha[0].ultima_indice_neto">
    </div>
    
    <div class="gene bod">Penultima</div>
    <div class="bod num">
        <input class="lf7" type="number" [(ngModel)]="ficha[0].penul_estudiantes_ingresados">
    </div>
    <div class="bod des">
        <input class="lf7" type="number" [(ngModel)]="ficha[0].penul_decersion">
    </div>
    <div class="bod iDes">
        <input class="por" type="number" [(ngModel)]="ficha[0].penul_indice_reprobacion">
    </div>
    <div class="bod rep">
        <input class="lf7" type="number" [(ngModel)]="ficha[0].penul_reprobacion">
    </div>
    <div class="bod iRep">
        <input class="por" type="number" [(ngModel)]="ficha[0].penul_indice_reprobacion">
    </div>
    <div class="bod egre">
        <input class="por" type="number" [(ngModel)]="ficha[0].penul_egresados">
    </div>
    <div class="bod IET">
        <input class="por" type="number" [(ngModel)]="ficha[0].penul_indice_eficiencia">
    </div>
    <div class="bod titu">
        <input class="lf7" type="number" [(ngModel)]="ficha[0].penul_titulados">
    </div>
    <div class="bod iTitu">
        <input class="por" type="number" [(ngModel)]="ficha[0].penul_indice_titulacion">
    </div>
    <div class="bod ITN">
        <input class="por" type="number" [(ngModel)]="ficha[0].penul_indice_neto">
    </div>
    
    <div class="gene bod">Antepenultima</div>
    <div class="bod num">
        <input class="lf7" type="number" [(ngModel)]="ficha[0].ante_estudiantes_ingresados">
    </div>
    <div class="bod des">
        <input class="lf7" type="number" [(ngModel)]="ficha[0].ante_decersion">
    </div>
    <div class="bod iDes">
        <input class="por" type="number" [(ngModel)]="ficha[0].ante_indice_reprobacion">
    </div>
    <div class="bod rep">
        <input class="lf7" type="number" [(ngModel)]="ficha[0].ante_reprobacion">
    </div>
    <div class="bod iRep">
        <input class="por" type="number" [(ngModel)]="ficha[0].ante_indice_reprobacion">
    </div>
    <div class="bod egre">
        <input class="por" type="number" [(ngModel)]="ficha[0].ante_egresados">
    </div>
    <div class="bod IET">
        <input class="por" type="number" [(ngModel)]="ficha[0].ante_indice_eficiencia">
    </div>
    <div class="bod titu">
        <input class="lf7" type="number" [(ngModel)]="ficha[0].ante_titulados">
    </div>
    <div class="bod iTitu">
        <input class="por" type="number" [(ngModel)]="ficha[0].ante_indice_titulacion">
    </div>
    <div class="bod ITN">
        <input class="por" type="number" [(ngModel)]="ficha[0].ante_indice_neto">
    </div>
</div>    