@import '@clr/ui/clr-ui.css';

body{
    background-color: var(--cds-global-color-warm-gray-200);
    font-size: 1.6rem;
    line-height: 2;
}

.cont{
    /*background-color: var(--cds-global-color-ice-1000); darkmode*/
    background-color: var(--cds-global-color-blue-50);
    @media screen and (min-width:600px) {
        width: 96%;
        margin: 2%;
    }
    width: 100%;
    height: min-content;
}
html{
    box-sizing: border-box; 
    font-size: 62.5%; 
}
*,*::before,*:after {
    box-sizing: inherit; 
}
/* globals */
.contenent{
    width: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4,h5,h6{
    line-height: 3.5rem;
}
/*verificar especificidad o verificar si estan afectando realmente.*/
h1{
    font-size:  4.1rem; /*4.1*/
}
h2{
    font-size: 3.7rem;/*3.7*/
}
h3{
    font-size: 3.2rem;/*3.2*/
}
h4{
    font-size: 3rem;/*3*/
}
h5{
    font-size: 2.6rem;/*2.6*/
}
h6{
    font-size: .9rem !important;
}
img {
    max-width: 100%;
    max-height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
.table, .table-noborder ,.table-compact{
    background-color: var(--cds-global-color-green-200) !important;
}
thead{
    margin: 0 !important;
}
tr, .left, thead{
    @media screen and (max-width:650px) {
        padding: 0 !important;
        margin: 0 !important;
    }
}
th{
    @media screen and (max-width:650px) {
        padding: .01rem !important;
        margin: 0 !important;
    }
}
.cabecera{
    height: auto;
}
.campo{
    border-bottom: 1px solid var(--cds-alias-status-neutral-tint);
}