@import '@clr/ui/clr-ui.css';

clr-control-error {
    display: none !important;
}

clr-control-error.clr-error {
    display: block !important;
}

clr-control-helper.clr-error {
    display: none;
}
input{
    height: 15px;
    margin: 0 auto;
}
h5{
    margin: 0 !important;
    padding: 0;
}
.flex {
    display: flex;
}
.indi {
    display: inline;
    user-select: none;
}
img {
    height: 16px;
    width: auto;
    margin: 0 15px;
    margin-bottom: 8px;
}
h4 {
    margin: 0;
}
#indicador {
    display: none;
}
.but {
    height: 40px;
    width: auto;
    margin: auto 1% auto auto;
}
.flex {
    display: flex;
}

.pen {
    height: 15px;
    width: auto;
}
.title {
    width: 45% !important;
    margin: 0 1%;
    display: flex;
    padding: 0 3%;
    margin-top: 10px;
}
h5{
    width: 100%;
    display: inline;
}

textarea {
    width: 98%;
    margin: 0 1% 0 1%;
    background-color: var(--cds-alias-status-disabled-shade) !important;
    overflow: auto;
}

.txtArea{
    background-color: var(--cds-alias-status-disabled-shade) !important;

}
clr-textarea-container {
    width: 100%;
}
.clr-form-control {
    display: flex;
    flex-direction: column !important;
    margin: 0;
}
.edit {
    pointer-events: auto;
    background-color: var(--cds-alias-status-neutral-tint) !important;
}
.disk{
    visibility: hidden;
    pointer-events: none;
}
.editing{
    visibility: visible !important;
    pointer-events: auto;
}